

#root{
  background-color: #f1f1f1;
  width:350px;
  margin:auto;
  padding: 20px;
  border: 2px solid #000000;
}

li{
  padding:10px 0px;
  color:#4aa1db;
}
li > a{
  color:#4aa1db;
  text-decoration: none;

}
li::marker{
  color:black;
}

button{
  background-color: #abe1fc;
  padding:15px;
  
}

button > a {
  text-decoration: none;
  color:#4aa1db;
  font-size: 20px;
}
